HTTP_ADDR=
# Необязательно: по умолчанию 30s
HTTP_SHUTDOWN_TIMEOUT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST_PORT=
POSTGRES_TIMEOUT=

# Необязательно: по умолчанию DEBUG
LOGGER_LEVEL=